
/*Header*/
body{
  color: white;
  text-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);
  
}


/*Header*/

.header-box{
  Width: 100%;
  height:100px;
  position: fixed; /*Keeps the header visible even when scrolling*/
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  overflow-wrap: anywhere;
  word-break: break-all;
  margin-top: -20px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-image: linear-gradient(grey,white);
  z-index: 1;
}

.artace{
  color: white;
}

.logo{
  width:7%;
  height: auto;
  float:left;

}

.nav{
  display: flex;
  gap:100px;
  margin-left: 40%;
}

.sgnup-nav{
  gap:100px;
}

.signup{
  background-color: rgb(252, 255, 84);
  font-size: 20px;
  margin-top:25px;
  margin-left: 250px;
  border-radius: 30px;
  border-color: transparent;
  height: 50px;
  width: 120px;
}

.login{
  background-color: #8eff80;
  font-size: 20px;
  margin-top:25px;
  margin-left: -400px;
  border-radius: 30px;
  border-color: transparent;
  height: 50px;
  width: 120px;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
  font-size: 20px;
}

a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.container{
  display: flex;
  justify-content: center;
  gap:20px;
  margin:20px auto;
}

.overall-container{
  width: 100%;
  height:430vh;
  background: rgb(0, 0, 0);
  justify-content: center;
  gap:20px;
}


  .nav{
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
}


.searchbox{
    height: 50px;
    width: 600px;
    border-radius: 25px;
    background-color: #000000; 
    color: aliceblue; 
   margin-left: -385px;
   border: none;
    

}

.search-icon{
  width: 20px;
  display: flex;
  margin-left: -50px;
}
input{
    font-size: 16px;
    outline: none;
    padding-left: 20px; color: white; font-size: 16px;
}

.white-input{
  color: white;
}



.logout{
    background-color: rgba(75, 75, 75, 0.335);
    font-size: 20px;
    margin-left: 490px;
    border-radius: 30px;
    border-color: transparent;
    height: 50px;
    width: 120px;
}

.logout:hover{

    background-color: #8eff80;
}

.logout:active{

  background-color: #ffffff55;
}


a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
    font-size: 20px;
  }
  
  a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }


.container{
    display: flex;
    justify-content: center;
    gap:20px;
    margin:20px auto;
}





    /*Add post*/


.align11{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}

.align12{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.opacity1{
  color: rgba(255, 255, 255, 0.616);
}

.opacity2{
  color: rgba(255, 255, 255, 0.315);
}
  .addpost{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(240, 245, 108);
    margin-top: 100px;
    border: none;
  }

  .addpost:hover{
    background-color: rgba(240, 245, 108, 0.446);
    border: none;
  }


.nameandprofilealign{
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

.profile-circle{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #c0ffa5;
  margin-top: 15px;
}

.h3{
  margin-top: 20px;
  font-size: 16px;
  color: white;
}
.h4{
  max-width: 30%;
  margin-left: 80px;
  margin-top: -20px;
  margin-bottom: 25px;
  font-size: 8px;
  color: white;
}

.p3{
  max-width: 100%;
  margin-left: 20px;
  margin-top: -10px;
  color: white;
}

.post-container{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-blog{
    width: 620px;
    height: 580px;
    background-color: #313131;
    margin-top: 20px;
    margin-left: 632.5px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: 'Franklin Gothic Medium';
}

.box-blgvid{
    width: 620px;
    height: 400px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-top: -5px;
   z-index: 2;
}

.box-blgpic{
  width: 100%;
  height: 400px;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  margin-top: -5px;
 z-index: 2;
}

.box-text{
  width: 620px;
  height: 180px;
  background-color: #313131;
  margin-top: 20px;
  margin-left: 632px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: 'Franklin Gothic Medium';
}

.input[type="text"] {
  width: 15px;
}

.buttons{
  display: flex;
  gap: 100px;
margin-top: 20px;
  justify-content: center;
}

.reaction{
  width: 20px;
}
.comment{
  width: 20px;
}
.share{
  width: 20px;
}
